*
!Cargo.toml
!Cargo.lock
!.cargo

!basic_bootloader
!basic_system
!crypto
!cycle_marker
!evm_interpreter
!proof_running_system
!storage_models
!supporting_crates
!system_hooks
!zk_ee
!zksync_os_runner
!oracle_provider
!forward_system
!callable_oracles
!api
!tests

# Allow pre-built binaries for Docker images
!target/release/proof_server
!target/release/proof_client

!zksync_os
zksync_os/target
tests/forge
tests/evm_tester
tests/contracts_wasm